{% extends "AppMessages/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Travellina</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h1>Acerca de mí</h1>
<p> Mi nombre es Catalina Vivern, estudiante del Curso de Python y pertenezco a la comisión 34645. Mi proyecto, un blog de viajes, esta pensadopara inspirar a la gente a conocer destinos de todo tipo y compartir sus experiencias.</p>

{% endblock %}

{% block subtitulo %}

<h3> Acerca de mí</h3>
<p> Catalina Vivern</p>

<h1>{{ mensaje }}</h1>

{% endblock %}

