<link href="../../../static/AppAccounts/css/styles.css" rel="stylesheet" />


{% extends "AppAccounts/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5"> Su perfil </h1>
{% endblock %}

{% block contenido_que_cambia %}

<h3>{{ mensaje }}</h3>

<a class="btn btn-dark" href="{% url 'readProfile'  %}">Ver perfil</a>
<a class="btn btn-dark" href="{% url 'editProfile'  %}">Editar perfil</a>
<a class="btn btn-dark" href="{% url 'addAvatar'  %}">Agregar foto de perfil</a>
<a class="btn btn-danger" href="{% url 'deleteProfile' %} ">Eliminar perfil</a>


{% endblock %}


